<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rbt6100AutoLine.Controls.Properties.Settings.Rbt6100AutoLineConnectionString"
            connectionString="Data Source=TZY-PC;Initial Catalog=Rbt6100AutoLine;User ID=Rbt6100Admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>